/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding: 1rem;
}
span {
    
    height:3rem;
    width:5rem;
}
div {
    padding:1rem;
}
